<div style="display:none">
  <div class="row template-detail-categories">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="background-color: #F7F7F7;">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">
              <div class="x_panel">
                <h3>Auto desktops creation <small id="auto_desktops_creation"> </small></h3>
              </div>
              {% if current_user.role != 'manager' %}
              <div class="x_panel">
                <div id="actions-template-d.id" data-pk="d.id" data-name="d.name" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px;">
                  <button class="btn btn-info btn-xs btn-edit-category" type="button" data-placement="top"><i class="fa fa-pencil m-right-xs"></i> Edit category</button>
                  <button class="btn btn-danger btn-xs btn-delete" type="button" data-placement="top"><i class="fa fa-trash m-right-xs"></i> Delete</button>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>